{% extends "_main.jinja"%}
{%block title%} Welcome to Markdown blog {%endblock%}

{%block main%}
Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt architecto nostrum harum? Ipsa optio aspernatur reiciendis culpa facilis, nisi quod vel quibusdam molestias deserunt labore odit odio nam! Eos, temporibus?
{%endblock%}


